@import "../../styles/vars.module";

.container {
    width: $pageBlockWidth;
    margin-top: 48px;
    margin-bottom: 194px;

    @include phoneMedia {
        width: $pageBlockPhoneWidth;
        margin: 0;
    }
}

.wrapper {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phoneMedia {
        padding: get-vw(89px) get-vw(20px) get-vw(68px) get-vw(20px);
    }
}

.title {
    composes: heading1 from "../../styles/typography.module.scss";
    composes: mobileHeading from "../../styles/typography.module.scss";
    text-align: center;
    width: 600px;
    color: $red;
    @include phoneMedia {
        width: 100%;
    }
}

.text {
    composes: pMedium from "../../styles/typography.module.scss";
    text-align: center;
    width: 460px;
    margin-top: 20px;
    @include phoneMedia {
        width: get-vw(277px);
        margin-top: get-vw(18px);
    }
}
