@import "vars";

.container {
    width: $desktopLargeContainerWidth;
    margin: 0 auto;

    @include desktopMedia {
        width: $desktopContainerWidth;
    }

    @include tabletLargeMedia {
        width: $tabletLargeContainerWidth;
    }

    @include tabletMedia {
        width: $tabletContainerWidth;
    }

    @include phoneMedia {
        width: $phoneContainerWidth;
    }
}
