@import "fonts";
@import "vars";
@import "typography";

* {
    font-family: -apple-system, "GothamPro", sans-serif;
    color: $black;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: url("../img/bg.jpeg");
    background-size: cover;
}

.button {
    background-color: $green;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;

    &:hover {
        background-color: $greenHover;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.header-brand {
    display: flex;
    align-items: flex-start;
}

.header-text {
    color: $white;
    width: 504px;
    margin-left: 66px;
    @extend .pMedium;
}
