@import "vars";
@import "fonts";

.headingH1 {
    font-family: "GothamPro", sans-serif;
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -1.7px;
}

.headingH2 {
    font-family: "GothamPro", sans-serif;
    font-size: 61px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: -2px;
}

.headingH3 {
    font-family: "GothamPro", sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: -0.85px;
}

.pNormal {
    font-family: "GothamPro", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.pMedium {
    font-family: "GothamPro", sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
}
